scripts/playlist/
db/*
assets/tmp/*
logs/*
\.idea/*
.vscode/
\.vscode/*
models/*
distr/agent/models/
playground/agent/models/
*.pyc
.DS_Store
.thumb
*.kate-swp
docs/*
tmp
build/
develop-eggs/
eggs/
__pycache__/
\__pycache__/   
.installed.cfg
src/*.egg-info
*.pyc
*.pyo
.DS_Store
db.sqlite3
