<!DOCTYPE html>
<html>
<head>
    <title>{title}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
        :root {{
            --title-color: {title_color};
        }}
    </style>
</head>
<body>
    <div class="header">
        <h2>Decisions<span class="ai">AI</span></h2>
    </div>
    <div class="main-content">
        {content}
    </div>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-line">
                <a href="https://www.decisionsai.net/terms" onclick="return openExternalLink('https://www.decisionsai.net/terms')">Terms and Conditions</a>
                <span class="footer-separator">|</span>
                <a href="https://www.decisionsai.net/privacy" onclick="return openExternalLink('https://www.decisionsai.net/privacy')">Privacy Policy</a>
            </div>
            <div class="footer-line">Version 2.3.0 (2026)</div>
            <div class="footer-line">
                <span>Built by</span>
                <a href="https://www.tensology.com" target="_blank">tensology.com</a>
                <span class="footer-separator">|</span>
                <a href="https://www.decisionsai.net" target="_blank">decisionsai.net</a>
            </div>
            <div class="footer-line">
                <span>Lead Developer:</span>
                <a href="https://www.paulhoft.com" target="_blank">paulhoft.com</a>
            </div>
        </div>
    </div>
    <script src="/static/js/main.js"></script>
    {scripts}
</body>
</html>

